.tile {
  position: relative;
  height: 80px;
  width: 80px;
  padding: 4px;
  border: 1px;
  flex: 0 0 auto;
}

.tile-number {
  position: absolute;
  font-size: 14px;
  margin: 4px;
  bottom: 0;
  left: 0;
}

.row {
  display: flex;
}
